{% extends './base2.html' %}
{% block title %}STI Universia{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block body %}

<!-- boddy 1 -->
<div class="container" id="product-cards">
    <h1 class="text-center" style="font-weight: bold;">TIPOS DE DATOS</h1>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-7 py-7 py-md-0">
            <div class="card">
                <img src="{{ url_for('static', filename='img/datos1.png') }}" alt=""
                    style="width: 100%; margin: 0 auto;">
            </div>
        </div>
        <div class="col-md-5 py-5 py-md-0">
            <div class="card">
                <div class="card-body" id="text-card">
                    <h2 style="text-align: justify;  font-size: 25px;">Tipo entero:</h2>
                    <li style="text-align: justify; font-size: 16px;">Conjunto de los números enteros positivos y
                        negativos</li>
                    <li style="text-align: justify; font-size: 16px;">Operaciones básicas: aritméticas, relacionales
                    </li>
                    <h2 style="text-align: justify;  font-size: 25px;">Tipo real:</h2>
                    <li style="text-align: justify; font-size: 16px;">Conjunto de los números reales positivos y
                        negativos (parte entera y parte decimal separada por un punto)</li>
                    <li style="text-align: justify; font-size: 16px;">Operaciones básicas: aritméticas, relacionales
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- boddy 1 -->
{% endblock %}